<h1>Xin chào </h1>
<form asp-action="Create">
    <labe>StudentCode </labe>
    <input type="text" name= "StudentCode">
    <br>
    <labe>FullName </labe>
    <input type="text" name= "FullName">
    <br>
    <labe>Address </labe>
    <input type="text" name= "Address">
    <br>
    <input type="submit" value="Send">
</form>
<h2>@ViewBag.message<h2>